.mymenu{
	&__shop{
		display: flex;
	}
	
	&__search{
		margin-left: 4%;
		margin-right: 2%;
		margin-top: 10px;
		margin-bottom: 10px;
		flex-basis: 100%;
		@mixin atMedium{
			width: 20%;
		}
	}

	&__half{
		box-sizing: border-box;
		flex-basis: 48%;
		text-align: center;
		&--left{
			margin-left: 10px;
		}
		&--right{
			margin-right: 10px;
		}
	}

	&__select{
		padding: 10px 30px;
		border: 0px;
		background-color: $lightgray;
		width: 90%;
		text-align: center;
	}
	
	

}


.navbar{
	margin-top: 0;
   	margin-bottom: 0px;
	padding: 0px !important ;
	@mixin atSmall{
	   	margin-top: 0;
    	margin-bottom: 0px;
    
	}

}


li.nav-item {
	display: block;
	z-index: 99;
	padding:10px; 
	color:$darkgray;
	font-size: 1.25rem;
	font-weight: 300;
	white-space: nowrap;
	@mixin atSmall {
	   	display: inline-flex;
    	padding: 0 20px;
    	font-size: 1.25rem;
    	
    	
	}
}



li.nav-item a {
	color: $black;
	z-index: 99;
}

li.nav-item a:hover {
	color: $mainBlue;
}


.navbar-brand {
	font-weight: 300;
	font-size: 1.25rem;
	width : 40px;
  	height: 45px;
   	@mixin atLarge{
    	width: 50px;
      	height: 50px;
    	margin-left: 10px;
    
	}
}

span.navbar-toggler-icon{
	background-color: $white;
}


a#navbarDropdown {
	z-index: 99;
    font-size: 1.25rem;
    padding-top: 0;
    font-weight: 300;
    margin-right: 30px;
    margin-top: 10px;
}

a.dropdown-item {
	z-index: 99;
}

#cart_span{
	font-size: 1.25rem;
    font-weight: 300;
    margin-top: 10px;	
}

#cart_span_small{
	font-size: 1rem;
    font-weight: 300;	
}



.feature-image h1.page-title {
	text-align: center;
    padding: 24px 0;
    color: $white;
    margin-bottom: 30px;
}

nav#navbarshop {
	z-index: 1;
}



span#cart_span {
  white-space: nowrap;
}

a#navbarDropdown{
  white-space: nowrap;  
}

.nav a{
    font-size: 1.25rem !important;
    }
