 progress {
            /* RESETS */
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: none;
 
            width: 100%;
            height: 20px;
            border-radius: 30px;
            background-color: $silver;
            color: rgb(13, 59, 102);
        }
 
        /* WEBKIT BROWSERS - CHROME, OPERA AND SAFARI */
        progress::-webkit-progress-bar {
            background-color: $silver;
            border-radius: 20px;
        }
 
        progress::-webkit-progress-value {
            background-color: rgb(13, 59, 102);
            border-radius: 20px;
        }
 
        /* MOZILLA FIREFOX */
        progress::-moz-progress-bar {
            background-color: rgb(13, 59, 102);
            border-radius: 20px;
        }