.shop-widget{
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 50px;
	
	&__title {
		background-color: $lightgray;
    	text-align: center;
    	margin-left: 35px;
    	white-space: nowrap;
	}

	&__btn{
	    color: $mainBlue;
    	background-color: $white;
    			
	}

	&__min-list{
		list-style: none;
		padding-left: 30px;
	}

	&__search{
		color:$mainBlue;
	}

	&--categories{
		padding-top: 50px;
	}
}