
/*****************************
        SPAN  (SALE )
******************************/


.products .product span.onsale {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: darkseagreen;
    line-height: 40px;
    border-radius: 50%;
    top: 0;
    right: 0 !important ;

}

.products li.product{
  text-align: center;
}

/*****************************
    WISH LIST
******************************/


.wish-box{
	position: absolute;
	height: 20px;
	width: 20px;
  bottom:100px;
  right: 0;
  cursor: cell;  
  color: #ff0000;
  font-size:1.5rem;

}

.wish-box .fa-heart {
  position: absolute;
  
  visibility: hidden;
  transition: all .4s ease-out;
  transform: scale(.2);
  opacity: 0;
}

.wish-box .fa-heart-o {
    position: absolute;
}

.wish-box[data-exists="yes"] .fa-heart {
    position: absolute;
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}

.wish-box[data-exists="yes"] .fa-heart-o {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}






h1.woocommerce-products-header__title.page-title{
	padding-bottom: 30px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
}

.pro_cats_list {
	  list-style: none;
    font-size: 1.25rem;
    font-weight: 300;
}

.pro_cat{
  	width: 20px;
    height: 20px;
    margin-right: 10px;
}

form.woocommerce-ordering {
    float: right;
}

.heart{
	color: #ff0000;
	font-size:1.5rem;
}

.fawe{
	color: $black;
	font-size:1.5rem;
}

@media only screen and (min-width: 530px) { 
   
    .woocommerce .product .flex-active-slide > a > img{
        width: 90% !important;
        height: auto !important;
        margin-left: auto;
        margin-right: auto;
    }

    .woocommerce .product .images img.wp-post-image {
        width: 90%;
        height: auto;   
        margin-left: auto;
        margin-right: auto; 
    }

}

@media only screen and (min-width: 768px) { 
    .woocommerce .product .images {
        float: left;
        width: 37% !important; 
     }

    .woocommerce .product .summary{
        float: left !important;
        margin-left: 2% !important;
        width: 37% !important;
    }
    .woocommerce .product .flex-active-slide > a > img{
        width: 300px !important;
        height: auto !important;
    }
    .woocommerce .product .images img.wp-post-image {
        width: 300px;
        height: auto;   
      
    }

}


@media only screen and (min-width: 1200px) { 
   
    .woocommerce .product .flex-active-slide > a > img{
        width: 400px !important;
        height: auto !important;
    }

    .woocommerce .product .images img.wp-post-image {
        width: 400px;
        height: auto;   
      
    }

}


.woocommerce div.product div.images .flex-control-thumbs li img.flex-active, .woocommerce div.product div.images .flex-control-thumbs li img{
        width: 70px;
        height: auto;
        
    }

@media only screen and (min-width: 768px) {
  .woocommerce div.product div.images .flex-control-thumbs li img.flex-active, .woocommerce div.product div.images .flex-control-thumbs li img{
        width: 100px;
        height: auto
    }

}


.woocommerce ul.products li.product a img{
      /*  width: 200px;
        height: 200px;
       */
       width: 200px;
       height: auto; 
        margin-left: auto;
        margin-right: auto;
        transition: transform .2s;
}

.woocommerce ul.products li.product:hover {
        transform: scale(1.1)!important;
}


woocommerce .products ul, .woocommerce ul.products {
     padding: 0 20px 0 0!important;
 }

body .product{
  padding: 0 5%;
}


/****************************************
    SHOP PAGE
****************************************/

#shop-container{
 padding: 0 3% 0 0; 
}

.woocommerce-checkout div#primary {
  padding: 0 5%;
}

/****************************************
    CART STYLE
****************************************/
.woocommerce-cart div.container{
  flex:1;
}

.woocommerce-cart div#primary{
  padding: 0 5%;
  font-size: 1.2rem;
}

.woocommerce-cart div#primary h1.entry-title{
  text-align: center;
  color: #0D3B66;
}

.woocommerce-cart div#primary input#coupon_code{
  width: 130px;
}


#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
    width: 80px;
    box-shadow: none;
}

/* img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail */

tr.woocommerce-cart-form__cart-item.cart_item  td{
  height: 100px;
}


#zoomed-image{
    display: none;
    margin-left: 2%;
    float: left;
    width: 38%;
   
}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  
  position: absolute;
 /* border: 1px solid #d4d4d4 !important; */ 
 
  z-index: 999;
  /*set the size of the lens:*/
  width: 100px;
  height: 100px;
}

.img-zoom-lens-hide{
  display: none;
}

 

.woocommerce .product .images .woocommerce-product-gallery__image:nth-child(n+2) {
     /* width: 16% !important; */
    
}

.woocommerce .product {
	/* margin:  30px; 
  padding-left: 30px;*/
}

.woocommerce .product:after{
  clear: both;
}

.woocommerce div.product div.summary {
     margin-bottom: 0 !important; 
     margin-top: 30px !important;
     
}

/*****************************
removes effect of col-1 which bootstrap causes
******************************/

.woocommerce-billing-fields .form-row, .woocommerce-shipping-fields .form-row, .woocommerce form .form-row{
  display: block;
}


.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
  max-width: unset;
}

/*****************************
hides sidebar from various page ; later doit progmatically removeaction
******************************/


.woocommerce-cart aside#secondary , .woocommerce-checkout aside#secondary , .woocommerce-account aside#secondary {
    display: none;
}

.woocommerce-cart .entry-footer .edit-link, .woocommerce-checkout .entry-footer .edit-link , .woocommerce-account .entry-footer .edit-link {
    display: none;
}


/*****************************
   my account
******************************/

.woocommerce-account div#primary{
  padding: 0 5%;
  font-size: 1.2rem;
  flex:1; /* forsticky footer */ 
}

.woocommerce-account div#primary h1.entry-title{
  text-align: center;
  color: #0D3B66;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
  list-style: none;
}


.woocommerce-account .woocommerce-MyAccount-navigation li {
    font-size: 1.25rem;
    padding: 15px 20px;
  
}
  

.woocommerce-orders img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail{
    height: 100px !important;
    width: auto !important;
}

.woocommerce-orders nav.woocommerce-MyAccount-navigation{
  display: none !important;
}

.woocommerce-orders .woocommerce-MyAccount-content{
  width: 100% !important;
}


/*****************************
   loader wait img settings
******************************/
.filter_loading{
  text-align: center;
}

.filter_loading img{
  margin-left: auto;
  margin-right: auto;
}

.pagination-wrap{
  text-align: center;
  margin-bottom: 10px;
}

.pagination{
    justify-content: center;
}

form.woocommerce-ordering {
  font-size: 1.25rem!important;
}

#shop-container {
  margin-bottom: 30px;
  @mixin atLarge{
      margin-bottom: 0;
  }
}

.woocommerce .products .star-rating {
  margin-left: 4.5em;
}

/*********************************
make Related images small
**********************************/
.woocommerce .related ul.products{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

}




.login_col{

}

@media only screen and (min-width: 990px) { 
   
  .login_col{
      float: left;
      width: 66%;    
  }


}


/***********************************
  doesnot display ctegory page description
***********************************/
.woocommerce-products-header .term-description {
    display: none!important;
}


/***********************************
  to make footer sticky on orders page
***********************************/

body.page-template-default.page.admin-bar.woocommerce-account.woocommerce-page.woocommerce-orders.woocommerce-js.customize-support {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body.page-template.page-template-page-fullwidth.page-template-page-fullwidth-php.admin-bar.woocommerce-cart.woocommerce-page.woocommerce-js.customize-support{
    display: flex;
    min-height: 100vh;
    flex-direction: column; 
}