.row {
		display: flex;
}

.row-smd{
	display: flex;
	flex-direction: column;
		@mixin atSmallMedium{
		flex-direction:row;		
	}
}

.col-1{
	flex-basis:8.33%;
	margin: auto;
}

.col-2{
	flex-basis:16.66%;
	margin: auto;
}

.col-md-2{
	@mixin atSmallMedium{
		flex-basis:16.66%;
		margin: auto;		
	}
}

.col-smd-2{
	@mixin atSmallMedium{
		flex-basis:16.66%;
		margin: auto;		
	}
}

.col-3{
	flex-basis:25%;
	margin: auto;
}


.col-4{
	flex-basis:33.33%;
	margin: auto;
}

.col-smd-4{
	@mixin atSmallMedium{
		flex-basis:50%;
		margin: auto;		
	}
}

.col-5{
	flex-basis:41.66%;
	margin: auto;
}

.col-6{
	flex-basis:50%;
	margin: auto;
}


.col-6-atSmall{
	flex-basis:50%;
	margin: auto;
	@mixin atSmallMedium{
		flex-basis: 100%;
	}
}



.col-md-6{
	@mixin atSmallMedium{
		flex-basis:50%;
		margin: auto;		
	}
}


.col-smd-6{
	@mixin atSmallMedium{
		flex-basis:50%;
		margin: auto;		
	}
}

.col-sm-6{
	@mixin atSmallMedium{
		flex-basis:50%;
		margin: auto;		
	}
}


.col-7{
	flex-basis:58.33%;
	margin: auto;
}

.col-8{
	flex-basis:66.66%;
	margin: auto;}

.col-9{
	flex-basis:75%;
	margin: auto;
}

.col-10{
	flex-basis:83.33%;
	margin: auto;
}

.col-11{
	flex-basis:91.66%;
	margin: auto;
}

.col-12{
	flex-basis:100%;
	margin: auto;
}

.col-sm-12{
	@mixin atSmallMedium{
		flex-basis:100%;
		margin: auto;
	}
}
