
$beige: #FAF0CA;
$mainYellow: #F4D35E;
$mainBlue: #0D3B66;
$blue:#0056b3;
$lightOrange: #EE964B;
$darkOrange: #F95738;
$white: #FFFFFF;
$lightgray: #f8f9fa;
$darkgray: #808080;
$black: #000000;
$red: #FF0000;
$lightred: #ffcccc;
$mediumgray: #b6afaf;
$mediumred: #ff8080;
$silver:#C0C0C0;
